.form-blck {
  display: inline-block;
  margin: 5px 0;
  padding: 10px 15px;
  border: 1px solid #a4a4a4;
  width: 100%;
  min-width: 500px;
}
.form-blck h3 {
  color: #a4a4a4;
  margin: 5px 0 15px 0;
}
.form-blck .form-group {
  display: inline-block;
  margin: 15px 0;
  width: 100%;
}
.form-blck .form-group label {
  display: inline-block;
  width: 20%;
  color: #5a5a5a;
}
.form-blck .form-group input,
.form-blck .form-group select {
  display: inline-block;
  width: 74%;
  height: 33px;
  color: #5a5a5a;
}
input, select {
  border-radius: 4px;
  border: 1px solid gray;
  padding: 0 10px;
}
