
<div class="row">
  <div class="card col s12 m6">
    <div class="card-content">
      <span class="card-title">User registration</span>

      <form class="row">
        <div class="input-field row">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>

        <div class="input-field row">
          <input id="age" type="text" class="validate">
          <label for="age">Age</label>
        </div>

        <div class="input-field row">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Materialize Select</label>
        </div>
      </form>
    </div>
    <div class="card-action">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</div>
